.input {
	padding: 2.3rem 1.5rem;
	background: var(--text-color);
	font-size: inherit;
	color: var(--dark);
	display: inline-block;
	width: 70%;
}

.input::placeholder {
	color: var(--dark);
}

/* Media Queries */
@media (max-width: 768px) {
	.input {
		padding: 2rem 1.5rem;
	}
}

@media (max-width: 500px) {
	.input {
		display: block;
		width: 100%;
	}
}
